{% load static %}
<!doctype = html>
<html>
<head>
	<title>Kanakku</title>
	<!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">-->
	</head> 
<body>
	
	<font color = '#101820FF' align = 'center'>
	  <h2 text = 'blue'>Log In</h2>	
	</font>
	<marquee bgcolor = '#2BAE66FF'>Kanakku</marquee>
	<hr>
	<form method="POST">
		{% csrf_token %}
		<table align="center">
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr><td>User Name     :</td><td><input type = 'text' name="user"></td></tr>
			<tr><td>password      :</td> <td><input type = 'password' name = 'pass'></td></tr>
			<tr align = 'center'><td colspan = '2'><input type = 'submit'></td></tr>
		</table>
	</form>
	<div>
		{% for message in messages %}
			<h3>{{message}}</h3>
		{% endfor %}	
	</div>
	
	</body>
</body>
</html>
